{{define "content"}}

<button style="margin-top: 0; margin-bottom: 0.8rem;" hx-get="/contacts/new" hx-target="body" hx-push-url="true">Add Contact</button>
{{block "download" .}}{{end}}

<form id="contactSearchForm" action="/contacts" method="get">
  <input id="search" type="search" name="q" value="{{.Query}}" style="width: 22rem;" hx-get="/contacts"
    hx-trigger="search, keyup delay:400ms changed" hx-target="tbody" hx-push-url="true" hx-indicator="#spinner" />
  <button type="submit">Search</button>
  <img style="position: absolute; right: -3rem; width: 2rem;" id="spinner" class="htmx-indicator"
    src="/static/spinner.svg" alt="Request In Flight..." />
</form>

<form style="max-width: 100vw; overflow-x: auto;">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{block "rows" .}}{{end}}
    </tbody>
  </table>

  <p>
    <a href="#" hx-post="/contacts" hx-confirm="Are you sure you want to delete these contacts?" hx-target="body">
      Delete Selected Contacts
    </a>
  </p>
</form>

{{end}}