{{define "content"}}

<h2 style="margin-bottom: 1rem;">Contact table</h2>

<p style="margin-top: 0; margin-bottom: 1.5rem;">
  <a href="/contacts/new">Add Contact</a>
</p>

<form id="contactSearchForm" action="/contacts" method="get">
  <input id="search" type="search" name="q" value="{{.Query}}" hx-get="/contacts"
    hx-trigger="search, keyup delay:400ms changed" hx-target="body" hx-push-url="true" />
  <button type="submit">Search</button>
</form>

<div style="max-width: 100vw; overflow-x: auto;">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{range .Contacts}}
      <tr>
        <td>{{.First}}</td>
        <td>{{.Last}}</td>
        <td>{{.Email}}</td>
        <td style="display: flex; gap: 0.6rem;">
          <a href="/contacts/{{.Id}}/edit">Edit</a>
          <a href="/contacts/{{.Id}}">View</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="3">No contacts</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>

{{if len .Contacts | lt 0}}
<p style="margin: 0;">{{.Paging.Start}}-{{.Paging.End}} of {{.Paging.Total}}</p>
{{end}}

<div style="margin-top: 0.5rem; display: flex; gap: 1rem;">
  {{if gt .Paging.Page 1}}
  <a href="/contacts?page={{ dec .Paging.Page }}&q={{.Query}}">Previous</a>
  {{end}}

  {{if lt .Paging.End .Paging.Total}}
  <a href="/contacts?page={{ inc .Paging.Page }}&q={{.Query}}">Next</a>
  {{end}}
</div>

{{end}}