{{define "content"}}

<h2>{{.Title}}</h2>

<form action="{{if le .Contact.Id 0}}/contacts/new{{else}}/contacts/{{.Contact.Id}}/edit{{end}}" method="post">
  <fieldset style="border-radius: 3px;">
    <legend>Contact Values</legend>

    <input type="hidden" name="Id" value="{{.Contact.Id}}">

    <div class="newContactInputBox">
      <div class="newContactInputLine">
        <label for="Email">Email</label>
        <input name="Email" id="Email" type="email" placeholder="Email" value="{{.Contact.Email}}" required
          hx-get="/contacts/{{.Contact.Id}}/email" hx-target="next .error"
          hx-trigger="change, keyup delay:500ms changed">
      </div>
      <span class="error">{{.Errors.Email}}</span>
    </div>

    <div class="newContactInputBox">
      <div class="newContactInputLine">
        <label for="First">First Name</label>
        <input name="First" id="First" type="text" placeholder="First Name" required value="{{.Contact.First}}">
      </div>
      <span class="error">{{.Errors.First}}</span>
    </div>

    <div class="newContactInputBox">
      <div class="newContactInputLine">
        <label for="Last">Last Name</label>
        <input name="Last" id="Last" type="text" placeholder="Last Name" required value="{{.Contact.Last}}">
      </div>
      <span class="error">{{.Errors.Last}}</span>
    </div>

    <p style="margin: 0; text-align: center;">
      <button class="success-btn" type="submit" style="align-self: center;">Save</button>
    </p>

  </fieldset>
</form>

{{if gt .Contact.Id 0}}
<button id="delete-btn" class="delete-btn" hx-delete="/contacts/{{.Contact.Id}}" hx-target="body" hx-push-url="true"
  hx-confirm="Are you sure you want to delete this contact?" style="margin-top: 1rem;">
  Delete Contact
</button>
{{end}}

<p>
  <a href="/contacts">Back</a>
</p>

{{end}}