{{block "rows" .}}

{{range .Contacts}}
<tr>
  <td onclick="const c = document.getElementById('select-{{.Id}}'); c.checked = !c.checked;">
    <input type="checkbox" id="select-{{.Id}}" name="selectedIDs" value="{{.Id}}" onClick="this.checked=!this.checked" />
  </td>
  <td>{{.First}}</td>
  <td>{{.Last}}</td>
  <td>{{.Email}}</td>
  <td style="display: flex; gap: 0.6rem;">
    <a href="/contacts/{{.Id}}/edit">Edit</a>
    <a href="/contacts/{{.Id}}">View</a>
    <a href="#" hx-delete="/contacts/{{.Id}}" hx-confirm="Are you sure you want to delete this contact?"
      hx-target="closest tr" hx-swap="outerHTML swap:200ms">Delete</a>
  </td>
</tr>
{{end}}

{{if len .Contacts | eq 10}}
<tr>
  <td colspan="5" style="text-align: center">
    <a id="load" href="#" hx-target="closest tr" hx-swap="outerHTML"
      hx-get="/contacts?page={{inc .Page}}&q={{.Query}}">Load More</a>
  </td>
</tr>
{{end}}

{{end}}