{{block "rows" .}}

{{range .Contacts}}
<tr>
  <td>{{.First}}</td>
  <td>{{.Last}}</td>
  <td>{{.Email}}</td>
  <td style="display: flex; gap: 0.6rem;">
    <a href="/contacts/{{.Id}}/edit">Edit</a>
    <a href="/contacts/{{.Id}}">View</a>
    <a href="#" hx-delete="/contacts/{{.Id}}" hx-confirm="Are you sure you want to delete this contact?"
      hx-target="body">Delete</a>
  </td>
</tr>
{{end}}

{{if len .Contacts | eq 10}}
<tr>
  <td colspan="4" style="text-align: center">
    <a href="#" hx-target="closest tr" hx-swap="outerHTML" hx-select="tbody > tr"
      hx-get="/contacts?page={{inc .Page}}&q={{.Query}}">Load More</a>
  </td>
</tr>
{{end}}

{{end}}